---
interface Props {
  href: string;
  external?: boolean;
}
const { href, external = false } = Astro.props;
---
{
  external ? (
    <a href={href} target="_blank" rel="noopener"><slot /></a>
  ) : (
    <a href={href}><slot /></a>
  )
}
