---
import SocialLink from '../atoms/SocialLink.astro';
import { social } from '../../data/site';
---
<div class="links">
  {social.map((s) => (
    <SocialLink href={s.href} external={s.external}>{s.label}</SocialLink>
  ))}
</div>
