---
import Eyebrow from '../atoms/Eyebrow.astro';
import CtaRow from '../molecules/CtaRow.astro';
import { hero } from '../../data/site';
---
<div class="hero">
  <Eyebrow>{hero.eyebrow}</Eyebrow>
  <h1>{hero.name}</h1>
  <p class="hero-edu">{hero.education}</p>
  <p class="lede" set:html={hero.lede} />
  <CtaRow />
</div>
