---
import FooterLinks from '../molecules/FooterLinks.astro';
import { footerMeta } from '../../data/site';
---
<footer id="contact">
  <div class="wrap foot">
    <FooterLinks />
    <div class="meta">{footerMeta}<span id="yr"></span></div>
  </div>
</footer>
